name: Build and publish native artifacts

# Controls when the workflow will run
on:
  workflow_call:
    inputs:
      version:
        required: true 
        type: string

env:
  GH_BOT_EMAIL: "41898282+github-actions[bot]@users.noreply.github.com"
  GH_BOT_NAME: "GitHub Action"
  JAVA_VERSION: 23
  GRAALVM_DIST: graalvm-community

permissions: {}

jobs:
  native-binaries:
    name: Build ${{ matrix.os }} binary
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        os: [macos-13, macos-latest, windows-latest, ubuntu-latest]
    permissions:
      contents: read
      actions: write
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: 'main'

      - uses: graalvm/setup-graalvm@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.GRAALVM_DIST }}
          cache: "maven"

      - name: Build ${{ matrix.os }} native binary
        id: mvn-native-build
        env:
          MAVEN_OPTS: "-Xmx1g"
        run: ./mvnw -B -ntp package -Dnative -DskipTests -DskipITs -DskipFormat

      - name: Assemble ${{ matrix.os }} archive
        uses: jreleaser/release-action@v2
        env:
          JRELEASER_PROJECT_VERSION: ${{ inputs.version }}
        with:
          arguments: assemble --assembler=archive --select-current-platform --output-directory target

      - name: Upload ${{ matrix.os }} archive
        uses: actions/upload-artifact@v4
        with:
          retention-days: 1
          name: artifacts-native-${{ matrix.os }}
          path: |
            target/jreleaser/assemble/native-archive/archive/*.tgz
            target/jreleaser/assemble/native-archive/archive/*.zip

      - name: JReleaser output
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: native-image-${{ matrix.os }}-logs
          path: |
            target/jreleaser/trace.log
            target/jreleaser/output.properties