name: Maven snapshot build
on:
  workflow_call:
    inputs:
      artifact:
        required: true 
        type: string
      snapshot:
        required: true 
        type: string

env:
  GH_BOT_EMAIL: "41898282+github-actions[bot]@users.noreply.github.com"
  GH_BOT_NAME: "GitHub Action"
  JAVA_VERSION: 17
  JAVA_DISTRO: temurin

permissions: {}

jobs:

  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          fetch-depth: 0
          ref: 'main'

      - name: Set up JDK ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRO }}
          cache: maven

      - name: Build with Maven
        id: mvn-build
        run: |
          ./mvnw -B -ntp formatter:validate verify
