name: Quarkus Native snapshot build
on:
  workflow_call:

env:
  GH_BOT_EMAIL: "41898282+github-actions[bot]@users.noreply.github.com"
  GH_BOT_NAME: "GitHub Action"
  JAVA_VERSION: 23
  JAVA_DISTRO: temurin

permissions: {}

jobs:

  native-build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          ref: 'main'

      - name: Set up JDK ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRO }}
          cache: maven

      - name: Generate cache key
        id: image-cache-key
        run: |
          echo "cache_key=build-image-cache-$(/bin/date -u "+%Y-%U")" >> $GITHUB_OUTPUT
  
      - name: Restore cached build image
        id: cache-restore
        uses: actions/cache/restore@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.4
        with:
          path: build-image/mandrel.tar
          key: ${{ steps.image-cache-key.outputs.cache_key }}
  
      - name: Download build image
        if: steps.cache-restore.outputs.cache-hit != 'true'
        run: |
          mkdir -p build-image
          docker pull quay.io/quarkus/ubi-quarkus-mandrel-builder-image:jdk-23
          docker save quay.io/quarkus/ubi-quarkus-mandrel-builder-image:jdk-23 -o build-image/mandrel.tar
  
      - uses: actions/cache/save@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.4
        id: cache-save
        if: always()
        with:
          path: build-image/mandrel.tar
          key: ${{ steps.image-cache-key.outputs.cache_key }}
  
      - name: Load build image
        id: load-build-image
        run: |
          docker load -i build-image/mandrel.tar

      - name: Build and run in native mode
        id: mvn-native-build
        env:
          MAVEN_OPTS: "-Xmx1g"
        run: |
          ./mvnw -B -ntp verify -DskipTests -DskipFormat \
            -Dnative \
            -Dquarkus.native.container-build=true \
            -Dquarkus.container-image.build=true
