name: Java Project Metadata
on:
  workflow_call:
    outputs:
      snapshot:
        description: Project snapshot version
        value: ${{ jobs.project-metadata.outputs.snapshot }}
      artifact: 
        description: Project artifact id
        value: ${{ jobs.project-metadata.outputs.artifact }}

env:
  GH_BOT_EMAIL: "41898282+github-actions[bot]@users.noreply.github.com"
  GH_BOT_NAME: "GitHub Action"

permissions: {}

jobs:
  project-metadata:
    runs-on: ubuntu-latest
    outputs:
      snapshot: ${{ steps.metadata.outputs.snapshot }}
      artifact: ${{ steps.metadata.outputs.artifact }}
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Project metadata
        id: metadata
        run: |
          SNAPSHOT=$(yq '.release.snapshot-version' .github/project.yml)
          ARTIFACT=$(yq '.build.artifact' .github/project.yml)
          echo "snapshot=${SNAPSHOT}" >> $GITHUB_OUTPUT
          echo "artifact=${ARTIFACT}" >> $GITHUB_OUTPUT
