name: JReleaser - publish artifacts

# Controls when the workflow will run
on:
  workflow_call:
    inputs:
      version:
        required: true 
        type: string
      dry_run:
        description: "Test capabilities, do not release"
        default: false
        required: true
        type: boolean
      jreleaser_args:
        description: "Extra JReleaser arguments"
        default: ""
        type: string
        required: false
      extras:
        description: "Extra release artifacts"
        type: string
        required: false
env:
  GH_BOT_EMAIL: "41898282+github-actions[bot]@users.noreply.github.com"
  GH_BOT_NAME: "GitHub Action"
  JRELEASER_ARGS: '-PnativeImageDir=artifacts -PuberJarDir=artifacts --output-directory=target'

permissions: {}

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      actions: write
      discussions: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          ref: 'main'

      - name: Download all workflow run artifacts
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          path: artifacts
          merge-multiple: true

      - name: Release with JReleaser
        if: inputs.dry_run == true
        uses: jreleaser/release-action@1ff4a6846b24cd704afa179ee87a662b4952615b # v2
        env:
          JRELEASER_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          JRELEASER_PROJECT_VERSION: ${{ inputs.version }}
          INPUT_ARGS: ${{ inputs.jreleaser_args }}
        with:
          arguments: full-release ${JRELEASER_ARGS} ${INPUT_ARGS} --dry-run

      - name: Release with JReleaser
        if: inputs.dry_run == false
        uses: jreleaser/release-action@1ff4a6846b24cd704afa179ee87a662b4952615b # v2
        env:
          JRELEASER_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          JRELEASER_HOMEBREW_GITHUB_TOKEN: ${{ secrets.BREW_PUBLISH }}
          JRELEASER_PROJECT_VERSION: ${{ inputs.version }}
          INPUT_ARGS: ${{ inputs.jreleaser_args }}
        with:
          arguments: full-release ${JRELEASER_ARGS} ${INPUT_ARGS}

      - name: JReleaser output
        if: always()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: release-logs
          path: |
            target/jreleaser/trace.log
            target/jreleaser/output.properties

      - name: extras
        if: inputs.dry_run == false && inputs.extras
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          EXTRAS: ${{ inputs.extras }}
          VERSION: ${{ inputs.version }}
        run: |
          for x in "${EXTRAS}"; do
            gh release upload "${VERSION}" --clobber ./artifacts/${x}#${x}
          done
